<% obj.each do |a| %>
		<div class="centered-listing">
			<div class="listing-bubble">
				<div class="listing-title">
					<%= link_to a.title, article_path(a) %>
				</div>
				<div class="listing-body">
					<%= truncate(a.description, length: 200) %>
				<div class="listing-meta-details">
					<small>
						Created by <%= a.user.username if a.user %>, 
						<%= time_ago_in_words(a.created_at) %> ago,
						last updated: <%= time_ago_in_words(a.updated_at) %>
					</small>
				</div>
				</div>
				<% if logged_in? && (current_user == a.user || current_user.admin?) %>
					<div class="button_class">
					<%= link_to "Edit", edit_article_path(a), class: "btn btn-sm btn-primary" %> | 
					<%= link_to "Show", article_path(a) %> | 
					<%= link_to "Delete", article_path(a), class: "deleteButton", method: :delete, data: {confirm: "Are you sure?"} %>
					</div>
				<% end %>
			</div>
		</div>
<% end %>